.header{
    background-color: rgb(238, 151, 228);
    padding: 50px;
  }
  .profile{
    width:250px;
    height: 250px;
    border-radius: 100%;
    position: absolute ;
    top: 20%;
    right:5%;
  }
  .navbar {
    
    float: bottom;
    padding: 100px;
    background-color: rgb(13, 183, 240);
    text-align: center;
    
  }
  .row{
    width:1240px;
    background-color: antiquewhite;
    margin: auto;
  }
  .side
  {
    float: left;
    background-color: rgb(212, 237, 173);
    width: 440px;
    height: 300px;
  }
  .side:hover{
    background-color: rgb(237, 219, 185);
    font-family: 'Franklin Gothic Medium';
  }
  .main
  {
    background-color: rgb(212, 237, 173);
    float: right;
    width: 800px;
    height: 300px;

  }
  .main:hover
  {
    background-color: rgb(245, 233, 210);
  }
  div>h3{
    color: red;
  }
  .wait{
    cursor: crosshair;
  }
  .insta{
    height:50px;
    width: 50px;
    position: relative;
  }
  .fb{
    height:50px;
    width: 50px;
    position: relative;
  }